.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f8f9fa; 
    margin-left: 100px;
    margin-right: 100px;
}

.filter input[type="text"] {
    padding: 8px 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    flex-grow: 1; 
}


.filter select {
    padding: 8px 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-left: 10px; 
    cursor: pointer;
    background-color: white; 
    transition: border-color 0.3s ease; 
}
.filter select:hover {
    border-color: #007bff; 
}