.edit-lawyer-profile {
    font-family: Arial, sans-serif;
}

.editing-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.profile-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button.save-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.save-button:hover {
    background-color: #0056b3;
}


.form-group-img {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .form-group-img label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .form-group-img input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }

  .form-group-img input[type="file"]:focus {
    border-color: #007bff;
    outline: none;
  }




  .form-group-lang {
    margin-bottom: 20px; /* Add some margin to the bottom */
}

.form-group-lang label {
    display: block; /* Display the label as a block element */
    margin-bottom: 8px; /* Add margin to the bottom of the label */
    font-weight: bold; /* Make the label text bold */
}

.form-group-lang select {
    width: 100%; /* Set the width to 100% of its container */
    padding: 10px; /* Add padding inside the select element */
    font-size: 16px; /* Set font size */
    border-radius: 4px; /* Add border radius for rounded corners */
    border: 1px solid #ccc; /* Add a border with a light gray color */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    outline: none; /* Remove outline */
    height: auto; /* Auto height */
}

/* Style for selected options */
.form-group-lang select option:checked {
    background-color: #e0e0e0; /* Change background color for selected options */
}
